<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656111087922-te93rbusrfkdd0dpvhcb2b707afjoblk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656111087922-te93rbusrfkdd0dpvhcb2b707afjoblk</string>
	<key>API_KEY</key>
	<string>AIzaSyDuFOVVf8_crbv6ZHMIop0RmlDWcfoIBI4</string>
	<key>GCM_SENDER_ID</key>
	<string>656111087922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Project.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-tutorial-73bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-tutorial-73bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656111087922:ios:7477a71e03cd42e271a72b</string>
	<key>DATABASE_URL</key>
	<string>https://uber-tutorial-73bfd-default-rtdb.firebaseio.com</string>
</dict>
</plist>